

:root{
    --text-default:#2c0a04;
    --color-creme: #fcfaf8;
}

.start{
    background-color:var(--color-creme)
}

header .fa-java{
    font-size: 60px;
    font-weight: 900;
}

.hero-content{
    overflow:hidden;
    position:relative;
    z-index:;
}

.hero-content h1{
    font-size: 5rem;
}

.hero-content h2{
    font-size: 34px;
}

.hero-content p{
    font-size: 28px;
}


.hero-image{
    width:100%;
    position: relative;
    z-index: 3;
}

.hero-image img{
    width: 100%;
    padding: 2rem 1rem;
    transform:rotate(-33deg);
    z-index:4;
 }


.eventBackground{
    background: linear-gradient(-45deg, #2c0a04, #4c1e17);
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    border-radius: 0 30% 0 30%;
    z-index: -1;
}


button{
    padding: 10px;
    border:0;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 18px;
    display:block;
    margin: .5rem 0;
}


button:active{
    opacity:8;
}

.btn-marrom{
    background: #800000d4;
    color: #fff;
    font-size:25px;
    margin: 1.9rem 0 3rem 0;
}


.text-default-color{
    color: var(--text-default);
}

.text-gradient {
    font-size: 48px; /* Tamanho da fonte */
    font-weight: bold; /* Espessura da fonte */
    background: linear-gradient(-45deg, #2c0a04, #4c1e17);
    -webkit-background-clip: text; /* Para suportar browsers que utilizam WebKit */
    -moz-background-clip: text; /* Para suportar Firefox */
    background-clip: text; /* Conformidade com o padrÃ£o CSS */
    color: transparent; /* Torna o texto transparente para que o background (gradiente) apareÃ§a */
    /* A propriedade 'color' aqui Ã© opcional, jÃ¡ que 'transparent' Ã© o valor padrÃ£o para 'text-fill-color' */
}

.hero-content .group-mini-cards{
     margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }


.hero-content .mini-card {
    display: flex;
    flex-direction: column;
    text-align:center;
    padding:0;
}


.hero-content .mini-card h2{
    font-size: 1rem;
    letter-spacing: 1.1px;
    font-weight:100;
    margin:0;
    /* border:2px solid red */
}

.hero-content .mini-card p{
    font-weight: 700;
    font-size: 18px;
    margin-top: auto;
}
